/*================================================
                BoilerPlate CSS Start
===================================================*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/*================================================
                BoilerPlate CSS End
===================================================*/
/*================================================
                CSS FOR Navigation bar Start
===================================================*/

.nav {
    background: #000;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    justify-content: space-between;
    padding: 0 60px;
}

@media(max-width:768px) {
    .nav {
        padding: 0 40px;
        z-index: 3;
    }
}

@media(max-width:482px) {
    .nav {
        padding: 0 20px;
        z-index: 3;
    }
}



.logo {
    width: 130px;
    z-index: 2;
}

.nav ul {
    float: right;
    z-index: 3;
}

.nav ul li {
    display: inline-block;
    line-height: 80px;
    z-index: 3;

}

.nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    z-index: 2;
}

.nav ul li a:hover {
    color: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    z-index: 2;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    .nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        padding-top: 20px;
        display: block;
    }

    .nav {
        flex-direction: row-reverse;

    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 3;

    }

    .nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}

.active {
    color: #0082e6 !important;
}


/*================================================
                CSS FOR Navigation bar End
===================================================*/
/*================================================
                CSS FOR Hero Section Start
===================================================*/

.container {
    padding: 0 60px;
}

@media(max-width:768px) {
    .container {
        padding: 0 40px;
    }
}

@media(max-width:482px) {
    .container {
        padding: 0 20px;
    }
}

.contact-btn {
    font-weight: 500;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    background-color: #0079D4;
    border: 2px solid #0079D4;
    
    border-radius: 30px 30px 30px 30px;
    padding: 10px 30px;
    transition: 0.5s ease-in-out;
}

.contact-btn:hover {
    background-color: transparent;
    
}

.hero {
    height: 100vh;
    background: linear-gradient(64deg, hsla(0, 0%, 8%, .9) -8.29%, hsla(0, 0%, 8%, 0) 69.59%);
    background-image: url(images/home.jpeg);
    background-size: cover;
    display: flex;
    background-position: center;
    flex-direction: column;
    
    padding-top: 120px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 2;

}

.hero::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero h1 {
    font-size: 60px;
    text-align: left !important;
    font-weight: 700;
    color: #fff;

    text-align: center;
}

.hero-left h4 {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.hero h6 {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    
}

.shop-btn {
    background-color: transparent;
    text-decoration: none;
    width: 100px;
    
    height: 46px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 20px;
    border: none;
    border: #0079D4 2px solid;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.shop-btn:hover {
    background-color: #0079D4;
}

@media(max-width:768px) {
    .hero h1 {
        font-size: 40px;
    }
    
    .hero-left h4 {
        font-size: 20px;
    }
    
    .hero h6 {
        font-size: 20px;
    }
    
    .hero-left {
        gap: 30px;
    }
    
    .shop-btn {
        width: 90px;
        
        height: 36px;
    }
}

.main {
    background-color: #1D1D1D;
}

/*================================================
                CSS FOR Hero Section Start
===================================================*/


/*================================================
                CSS FOR SHOP PAGE Start
===================================================*/


.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(298px, 1fr));
    gap: 7px;
    padding: 20px 24px 90px 24px;
}

@media(max-width:1024px) {
    .box-container {
        padding: 0px 10px;
    }
}

/* .box-container img {
    width: 274.75px;
} */

.box-container .box {
    background-color: #252525;
    border-radius: 10px;
    border: #252525 2px solid;
    padding: 12px;
    max-width: 476px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.box-container .box:hover {
    border: #3F3F3F 2px solid;

}

.box-container .box:hover p {
    color: #fff;
}

.box-container .box p {
    color: #ccc;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color .2s ease;
    white-space: nowrap;
}

/*================================================
                CSS FOR Shop PAGE End
===================================================*/


/*================================================
                CSS FOR Prouct PAGE Start
===================================================*/


.product-container {
    display: flex;
}

.product-container .left {
    width: 69.18%;
}


.product-image {
    background-color: #252525;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    text-align: center;
}
.product img {
    height: 495px;
    width: 482px;
}

.product-container .right {
    width: 30.69%;
}

.asset-details {
    padding: 52px 62px 82px;
}

.asset-details h6 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 10px;
}

.asset-details p {
    color: #ccc;
    font-size: 13px;
    padding-bottom: 20px;
}

.table-container {
    background-color: #232323;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 15px 18px;
    width: 100%;
}

.table-container h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding-bottom: 15px;
    margin: 0;
}

.table-container .table tr th:first-child {
    color: #ccc;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
}

.table {
    width: 100%;

}

.table-row {
    display: flex;
    width: 100%;
}

.table-row td {
    width: 50%;
    font-size: 13px;
    color: #aaa;
    padding: 10px 0 10px 12px;
    border: 1px solid #303030;
    font-weight: 400;
}

.table-row th {
    width: 50%;
    font-size: 13px;
    color: #aaa;
    padding: 10px 0 10px 12px;
    border: 1px solid #303030;
    border-top: 3px solid #303030;
    text-align: left;
    font-weight: 400;
}





/* .table-container {
    margin: 50px auto;
    width: 70%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
} */


/*================================================
                CSS FOR Product PAGE End
===================================================*/



/*================================================
                CSS FOR Footer Start 
===================================================*/

header {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 300px;
    font-size: 35px;
}

header h2 {
    color: #f0525f;
}

header span {
    color: #eaa03f;
}

/* The footer is fixed to the bottom of the page */

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    /* margin-top: 80px; */
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}



/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}